<div class="card my-auto mx-auto col-12 col-md-10 col-lg-8">
  <div class="card-body col-md-12 col-lg-8 mx-auto">
    <h1 class="card-title">An error occurred. :/</h1>
    <h4>Sorry about that. Please contact support if the problem persists.</h4>
    <a href="/">Click here to return to homepage.</a>
    <p>{{err}}</p>
  </div>
</div>