<div class="card my-auto mx-auto col-12 col-md-10 col-lg-8">
  <div class="card-body col-md-12 col-lg-8 mx-auto">
    <h1 class="card-title">You have been successfully logged out.</h1>
    <h4>Please wait to be redirected.</h4>
  </div>
</div>
<script src="/js/logout.js"></script>